body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 300;
}

.table {
  width: 86%;
  margin: 50px auto 0 auto;
  border: 2px solid rgba(160, 158, 158, 0.29);
  border-spacing: 0;
}

.text_description {
  display: none;
}

.post-time {
 color: rgb(0, 0, 0)
}

.text_description,
.abb-text,
.hide {
  color: rgb(111, 108, 108);
  padding: 15px;
  text-align: right;
  font-weight: 200;
}

@media only screen and (max-width: 900px) {
  .hide {
    display: none;
  }
}

@media only screen and (min-width: 900px) {
  .text_description {
    display: table-cell;
  }

  .abb-text {
    display: none;
  }
}

tr:nth-child(even),
.thead {
  background-color: #f2f2f2;
}

td {
  text-align: right;
  color: rgb(88, 87, 87);
  padding: 15px;
}

.thead th:nth-child(-n + 2) {
  text-align: left;
  padding-left: 45px;
}

.recent_winners,
.posts_header {
  background-color: #325272;
  color: white;
  font-size: 1.2rem;
  padding: 25px;
  text-align: left;
}

.posts_header {
  background-color: #8ed3b4;
  color: black;
}

.winners_name,
.post_name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.winners_name {
  max-width: 120px;
  font-weight: 600;
}

.post_name {
  display: inline-block;
  color: #1967d2;
  width: 45vw;
}

.link {
  position: absolute;
  right: 7%;
  padding: 10px 0px 30px 0px;
  color: #1967d2;
  text-decoration: none;
}

.green::before,
.yellow::before,
.grey::before {
  content: " ";
  display: inline-block;
  margin-right: 15px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.green::before {
  background-color: #8ed3b4;
}

.yellow::before {
  background-color: #e2d258;
}

.grey::before {
  background-color: #dfdfdf;
}